<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Aroha suite" guice-stage="DEVELOPMENT">
<listeners>
<listener class-name="com.ex.ExtentReporterNG"/>
</listeners>






  <test thread-count="5" name="sandeep test" verbose="2">
    <classes>
      <class name="com.test.LoginTest"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
            